* {
    margin: auto;
}

body {
    background-color: black;
}

form {
    border: 3px solid black;
    width: 50%;
    margin-bottom: 10px;
    background-color: aliceblue;
}

header {
    background-color: aliceblue;
    width: 50%;
    border-radius: 10px;
}

input[type=text], input[type=email], textarea {
    width: 100%;
}

button {
    margin-right: 10px;
}
#textarea-answer {
    height: 200px;
}