body {
  margin: 0;
}

#container {
  margin: 0 auto;
  width: 100%;
  background: #fff;
}

#header {
  background: #ccc;
  padding: 20px;
}

#header h1 {
  margin: 0;
}

#navigation {
  width: 100%;
  background: #333;
}

#navigation ul {
  display: flex;
  margin: 0;
  padding: 0;
}

#navigation ul li {
  list-style-type: none;
  display: flex;
}

#navigation li a {
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid #fff;
}

#navigation li a:hover {
  background: #383;
}

#content-container {
  width: 100%;
  background: #fff;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  padding: 20px 0;
  margin: 0 0 0 4%;
}

#content h2 {
  margin: 0;
}

#aside {
  width: 33%;
  padding: 20px 0;
  margin: 0 3% 0 0;
}

#aside h3 {
  margin: 5px;
}

#footer {
  background: #ccc;
  text-align: right;
  padding: 20px;
  height: 1%;
  display: flex;
  justify-content: center;
}

@media print {
  #header,
  #navigation,
  #footer {
    display: none;
  }
  img {
    width: 300px;
  }
}

@media screen and (max-width: 450px) {
  #aside {
    display: none;
  }
  body {
    padding: 0;
  }
  img {
    width: 80vw;
  }
  #header {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  #navigation {
    width: 90%;
    margin-left: 10px;
    margin-right: 5px;
  }
  #navigation ul {
    flex-direction: column;
    margin-top: 1em;
    border-radius: 3px;
    font-weight: 700;
  }
  #navigation li a {
    border: none;
  }
  #content {
    margin: auto;
    text-align: center;
    align-items: center;
  }
}
